# =========================================================
# DEPENDENCIES
# =========================================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================================================
# BUILD / DIST
# =========================================================
dist/
build/
out/
coverage/

# =========================================================
# TYPESCRIPT
# =========================================================
*.tsbuildinfo

# =========================================================
# ENVIRONMENT VARIABLES
# =========================================================
.env
.env.*
!.env.example

# =========================================================
# PLAYWRIGHT
# =========================================================
playwright-report/
test-results/
blob-report/
report/
screenshots/
videos/
traces/

# =========================================================
# CUCUMBER
# =========================================================
cucumber-report/
cucumber-html-report/
cucumber-report.json

# =========================================================
# ALLURE REPORT
# =========================================================
reports/allure-report/
reports/allure-results/
reports/videos/
reports/screenshots/

# =========================================================
# LOGS
# =========================================================
logs/
*.log

# =========================================================
# OS FILES
# =========================================================
.DS_Store
Thumbs.db

# =========================================================
# EDITOR / IDE
# =========================================================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

.idea/
*.swp
*.swo

# =========================================================
# TEMP FILES
# =========================================================
tmp/
temp/
.cache/
*.tmp

# =========================================================
# DOCKER
# =========================================================
docker-compose.override.yml

# =========================================================
# GITHUB ACTIONS (optional if generated artifacts)
# =========================================================
artifacts/